/*------------------------------------------------------
	General
------------------------------------------------------*/

body {
	font-family: 'Source Sans Pro','Lato',sans-serif;
	background-color: #fff;
	font-size: 15px;
}

.img-responsive {
  	display: block;
  	max-width: 100%;
  	height: auto;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.id-bar {
	height: 100px;
	background: #fff;
	padding: 24px;
}


/*------------------------------------------------------
	Navigation
------------------------------------------------------*/


.subnav-bar {
	padding-left: 100px;
	/*padding-top: 12px;*/
	font-size: 16px;
	text-align: right;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	color: #000;
}

.subnav-bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.subnav-bar ul li {
	display: inline-block;
	position: relative;
}

.subnav-bar ul li a {
	color: #252525;
}

.userPhoto {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	margin: 0 5px 0 0;
}

.userPhoto img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.subnav-bar ul li .submenuOpt {
	background-color: #fff;
	min-width: 130px;
	padding: 15px;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}


.subnav-bar ul li .submenuOpt ul {
	margin: 0;
	padding: 0;
	text-align: left;
}


.subnav-bar ul li .submenuOpt ul li{
	display: block;
	padding: 5px 0;
}

.subnav-bar ul li .submenuOpt ul li a{
	font-size: 15px;
	font-weight: normal;
	text-transform: none;
	display: block;
}



.subnav-bar ul li:hover .submenuOpt {
	opacity: 1;
	visibility: visible;
}




.subnav-bar a:link {
	color: #000;
	text-decoration: none;
}

.subnav-bar a:hover {
	color: #0078bf;
	text-decoration: none;
}

.nav-bar {
	min-height: 100px;
	background:linear-gradient(90deg,#0078bf,#0088d9);
	color: #fff;
	text-align: center;
	padding: 38px;
}

.menu-container {
	max-width: 800px;
	margin: auto;
}

.nav-btn-box {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

.nav-btn-box a:link, .nav-btn-box a:visited {
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 240px;
	padding: 12px;
	color: #fff;
	background: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	margin: auto;
	border: solid 1px #fff;
}

.nav-btn-box a:hover {
	color: #0078bf;
	background: #fff;
	text-decoration: none;
}

.active-section {
	color: #0078bf !important;
	background: #fff !important;
	text-decoration: none !important;
}

.active {
	color: #0078bf !important;
	/*background: #008752 !important;*/
	background: #464646 !important;
	text-decoration: none !important;
}


@media (max-width:575px) {

	.nav-btn-box {
		margin-bottom: 10px;
		margin-top: 10px;
	}


}


/*------------------------------------------------------
	All Pages
------------------------------------------------------*/

.page-content {
	padding: 24px;
	width: 80%;
	margin: auto;
}

@media (max-width:767px) {

.page-content {
	width: 100%;

}
}

.page-content h1 {
	text-transform: uppercase;
	font-weight: 600;
	color: #0078bf;
}

.page-content h2 {
	margin-top: -20px;
	font-weight: 600;
	color: #464646;
	margin-bottom: 20px;
}

.page-content h3 {
	margin-top: -20px;
	font-size: 20px;
	font-weight: 600;
	color: #464646;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.page-content h4 {
	font-size: 20px;
	font-weight: 600;
	color: #464646;
	text-transform: uppercase;
}

.page-content h5 {
	font-size: 20px;
	font-weight: 600;
	color: #95979a;
	text-transform: uppercase;
}

.page-content label {

	font-weight: 600;
	margin-bottom: 0;
	margin-right: 5px;
}

/*------------------------------------------------------
	Forms
------------------------------------------------------*/

.login-box {
	width:220px;
	margin: auto;
	padding-top: 60px;
}

.login-box label {
	float: left;
	font-weight: 600;
	margin-bottom: 0;
	margin-right: 5px;
	margin-left: 10px;
}

.login-box input[type=text], .login-box input[type=password], .page-content input[type=text] {
	width: 200px;
	border: solid 1px #000;
	height: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 12px;
	color: #464646;
}

select {
	width: 100%;
	border: solid 1px #000;
	height: 36px;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding: 3px 10px;
	color: #464646;
}

/*#output {
  padding: 20px;
  background: #dadada;
}*/

input[type=checkbox] {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0px;
}

.page-content input[type=text],
.page-content input[type=number],
.page-content input[type=email],
.page-content input[type=password] {
	width: 100%;
	border: solid 1px #000;
	height: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 12px;
}

.btn-submit {
	width: 200px;
	background:#008752;
	color: #fff;
	height: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px 12px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
}

.btn-submit:hover {
	width: 200px;
	/*background:#0078bf; */
	background: #464646;
	color: #fff;
	height: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px 12px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	border: none;
}


.btn-submit-alt {
	width: 200px;
	background:#008752;
	color: #fff;
	/*height: 36px;*/
	/*margin-top: 10px; */
	margin-bottom: 10px;
	padding: 12px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
}

.btn-submit-alt:hover {
	background: #464646;
	color: #fff;
	text-decoration: none;

}

.preferences-btn{
    position: fixed;
    margin-top: -109px;
    background: #d7d3d3;
    padding: 4px;
    border-radius: 7px 0 0 7px;
    border: 2px solid white;
    right: 0;
    box-shadow: -1px 2px 1px 0px #e8e8e8;
    color:#494949;
}

.preferences-btn:hover{
    color:white
}

.preferences-btn:active{
    color:black
}

@media (max-width:1200px) {

	.btn-submit {
	font-size: 12px;
}

.btn-submit-alt {
	font-size: 12px;
}


}


@media (max-width:767px) {

	.btn-submit {
	font-size: 15px;
}

.btn-submit-alt {
	font-size: 15px;
}


}

.cc-checkbox-list {
	display: block;
}

.cc-checkbox-list ul {
	list-style-type: none;
	padding-inline-start: 0px;
}

.cc-checkbox-list label {
	font-weight: normal;
}

.cc-checkbox-list .section-name {
	font-weight: 600;
}

.dropdown-menu.show {
    margin-top: 3px;
    padding: 0px;
    border: 1px solid #a7a7a7 !important;
    border-radius: 3px !important;
    color: #474747;
    background-color: #efefef;
}

a.dropdown-item {
    padding: 6px !important;
    border: 1px solid #a7a7a7 !important;
    border-radius: 3px !important;
    color: #474747;
    background-color: #efefef;
}


button#dropdownMenuButtonbtn {
    padding: 6px;
    border: 1px solid #a7a7a7 !important;
    border-radius: 3px !important;
    color: #00000;
    background-color: #efefef;
}


/*------------------------------------------------------
	Results
------------------------------------------------------*/

.result-sort {
	margin-left: 3px;
	color: #008752;
}

.btn-select-patient {
	display: block;
	padding: 8px 24px;
	text-align: center;
	width: auto;
	background:#008752;
	color: #fff;
	text-decoration: none;
	margin-top: 4px;
}

.btn-select-patient:hover {
	display: block;
	padding: 8px 24px;
	text-align: center;
	width: auto;
	/*background:#0078bf;*/
	background: #464646;
	color: #fff;
	text-decoration: none;
}

.btn-download {
	padding: 8px 24px;
	text-align: center;
	background:#008752;
	color: #fff;
	text-decoration: none;
	margin-bottom: 8px;
}

.btn-download:hover {
	background: #464646;
	color: #fff;
	text-decoration: none;
}

.results-link:link, .results-link:visited {
	color: #000;
	text-decoration: underline;
}

.results-link:hover {
	color: #008752;
	text-decoration: underline;
}

.label-row {
	border-bottom: 2px solid #000;
}

.results-row {
	/*border-bottom: 1px solid #000;*/
	border-bottom: 1px solid #95979a;
	/*padding: 8px;*/
	padding: 20px 8px;
}

.row-alt {
	background: #ccc;
}


/*------------------------------------------------------
	Create Assessment
------------------------------------------------------*/

.btn {
	border: 0px !important;
	border-radius: 0px !important;
	white-space: normal !important;
}

.btn.focus {
	box-shadow: none !important;
}

.btn-edit {
	padding: 2px 6px;
	font-size: 14px;
	text-align: center;
	width: auto;
	background:#464646;
	color: #fff !important;
	text-decoration: none;
	margin-left: 10px;
}

.btn-edit:hover {
	text-align: center;
	background:#000;
	color: #fff !important;
	text-decoration: none;
}

.vertical-center {
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.btn-sort-all {
	display: block;
	padding: 8px 24px;
	text-align: center;
	width: auto;
	background:#000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 1px;
}

.btn-sort-all:hover {
	display: block;
	padding: 8px 24px;
	text-align: center;
	width: auto;
	background:#464646;
	color: #fff;
	text-decoration: none;
}

.btn-sort {
	display: block;
	font-size: 14px;
	padding: 8px 0;
	text-align: center;
	width: auto;
	background:#008752;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 1px;
}

.btn-sort:hover {
	display: block;
	padding: 8px 0px;
	text-align: center;
	width: auto;
	background:#464646;
	color: #fff;
	text-decoration: none;
}

.btn.btn-sort.active {
    background: black !important;
    color: white !important;
}

.test-panel {
	display: block;
	padding: 8px 20px;
	text-align: left;
	width: auto;
	height: 160px;
	background:#0078bf;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 1px;
}

.test-panel:hover {
	display: block;
	padding: 8px 20px;
	text-align: left;
	width: auto;
	background:#000;
	color: #fff;
	text-decoration: none;
}

.test-panel-active {
	display: block;
	padding: 8px 20px;
	text-align: left;
	width: auto;
	height: 160px;
	background:#000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 1px;
}

.test-panel-link, .test-panel-link:hover {
	color: #fff;
	text-decoration: none;
}

.display {
	padding-bottom: 20px;
}

.no-padding {
	padding: 2px;
}


/*------------------------------------------------------
	Assessment Overview
------------------------------------------------------*/

@media (max-width:767px){
	.assessment-overview-list {
		padding-bottom: 20px;
	}
}


.assessment-overview-list .btn-edit {
	padding: 2px 6px;
	font-size: 14px;
	text-align: center;
	width: auto;
	background:#464646;
	color: #fff !important;
	text-decoration: none;
	margin-left: 0 !important;
	font-weight: 600;
}

.assessment-overview-list .btn-edit:hover {
	text-align: center;
	background:#000;
	color: #fff !important;
	text-decoration: none;
}


.assessment-overview-list ul {
	/*list-style: none;*/
	list-style: disc;
	color: #464646;
	padding: 0;
}

.assessment-overview-list a:link {
	color: #0078bf;
	text-decoration: none;
}

/*.assessment-overview-list a:hover, .assessment-overview-list a:visited  {
	color: #000;
	text-decoration: none;
}*/

.assessment-overview-list a:hover {
	color: #000;
	text-decoration: none;
}

.assessment-overview-list a:visited  {
	color: #0078bf;
	text-decoration: none;
}

.btn-download {
	padding: 8px 24px;
	text-align: center;
	background:#008752;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}

.btn-download:hover {
	background: #464646;
	color: #fff;
	text-decoration: none;
}

.print-summary {
	text-align: right;
}
@media (max-width:991px) {
	.print-summary {
		text-align: left;
	}
}

/*------------------------------------------------------
	Questionnaire Layout
------------------------------------------------------*/

.questionnaire-padding {
	padding-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

.text-box {
	display:block;
	color: #464646;
    width:100%;
    height: 240px;
    padding:2%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.buttons-right {
	text-align: right;
}

.buttons-left {
	text-align: left;
}


.test-taken {
	color: #000 !important;
	text-decoration: line-through !important;
}

@media (max-width:767px){

	.buttons-right, .buttons-left {
	text-align: center;
}

}


/*------------------------------------------------------
	Printing
------------------------------------------------------*/

@media print {
  footer {page-break-after: always;}
}



/*----------- Django Styling Feb 15, 2019 -------------------*/


.field-error-message {
	color: red;
	margin-left: 0px;
	/*margin-left: 15px;*/
}

.field-error-message ul {
	margin-left: 0px;
}

.field-error-message .errorlist {
	list-style-type: none;
	margin-left: -40px;
	margin-bottom: 0px;
}

.field-error-message .errorlist li {
	display: inline-block;
}

.messages {
	margin-left: -40px;
}

.messages ul {
	margin-left: 0px;
}

.messages a {
	color: red !important;
	text-decoration: underline;
}

.assessment-fields input {
    width: 100%;
    border: solid 1px #000;
    height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
}

.red {
	color: red;
}





/* --------------
Clavax CSS
---------------*/


.page-content .testTag {
    background: #f1f1f1;
    color: #636363;
    border: 1px solid #d6d6d6;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    /*cursor: pointer;*/
    margin: 0 8px 0 0;
    display: flex;
    align-items: center;

}

.page-content .testTag i.fas {
	cursor: pointer;
}

.page-content .testTag span {
	font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
}


.headingSmall {
	text-transform: none;
    color: #7b7b7b;
    font-size: 15px;
}


.noDataMsg {
	text-align: center;
    max-width: 600px;
    margin: 20px auto 20px auto;
    border: #999 dashed 1px;
    /* display: block; */
    min-width: 600px;
    padding: 20px 0;
}


.testTypeLoop .testSelectAll {
	position: absolute;
	right: 10px;
	top: 13px;

}


.testTypeLoop .testSelectAll input[type="checkbox"]{
	position: relative;
    top: 0;
    margin: 0;
    transform: scale(0.8);
}




.testBlockList {
	list-style: none;
	display: block;
	margin: 0;
    padding: 0;
}

.testBlockList li {
	margin-bottom: 10px;
}

.ui-state-highlight {
	height: 43px;
	background: #dcd9d9;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}


/* .inputFileName{
	min-width: 100px;
	max-width: 200px;
	display: inline-block;
	border: #999 solid 1px;
	height: 23px;
	color: #999;
	padding: 3px 5px 0px 5px;
	font-size: 12px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: -3px;
} */




/* .importForm {
	display: inline-block;

} */

/* .btn-submit.small-btn {
	width: auto;
	height: 23px;
    padding: 0 10px;
}


.browseBtn {
	height: 23px;
} */




.userFig {
	width: 94px;
	height: 94px;
	border-radius: 50%;
	margin: 0 auto 15px auto;
}

.userFig img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.clearImg {
	padding: 0 15px;
	background-color: #fff;
	border: #252525 solid 1px;
	line-height: 29px;
	color: #252525;
	text-align: center;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.clearImg.clear {
	background-color: #252525;
	color: #fff;
}

.clearImg input{display: none;}

.fileUploadBtn {border-radius: 3px !important; cursor: pointer;}
.fileUploadBtn input{
	display: none;
}

@media (max-width: 375px) {

	.subnav-bar {
		padding-left: 0;
	}



}

.main-card-container {
	/*height: 100vh;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-card-container #container {
	width: 80%;
	background-color: #f1f1f1;
	border-radius: 25px;
	padding: 50px;
}

.main-card-container #container .page-content {
	padding: 0;
    width: 100%;
    margin: 0;
}

.main-card-container #container .page-content .importForm {
	width: 100%;
}

.round-3 {
	border-radius: 3px !important;
}
/* Clavax CSS End */