@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
	width: 100%;
  margin: 1em 0;
  min-width: 300px;
  font-family: 'Source Sans Pro','Lato',sans-serif;
}
.rwd-table tr {
  /*border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;*/
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) " ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 699px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
 
}
@media (min-width: 699px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    /*padding-left: 0;*/
    padding-left: 8px;
    padding-right: 8px;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

/*body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}*/

.rwd-table {
  /*background: #34495E;*/
  color: #000;
  /*border-radius: .4em;*/
  overflow: hidden;
}
.rwd-table tr {
  /*border-color: #95979a;*/
}
/*.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}*/
.rwd-table th, .rwd-table td {
  margin: .5em 0;
}

@media (min-width: 699px) {
  .rwd-table th, .rwd-table td {
    /*padding: 1em !important;*/
  }
}
.rwd-table th, .rwd-table td:before {
  color: #000;
}
