

{% extends 'base.html' %}
{% load static %}

{% block content %}


        <div class="main-card-container">
        <div id="container">
          <div class="col-lg-12 page-content">
            <a href="{{ request.path }}"><img src="{{ MEDIA_URL }}CCLRCBH-4-Color-400x70.png" alt="Nevada ADRC Web Based Nacculator" title="Nevada ADRC Web Based Nacculator"/></a>
            <h1 style="text-align: center;">Web Based Nacculator</h1>

            <div class="col-lg-6 col-md-6">
                <h1 style="color:rgb(256,0,0)">

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <p style="font-size:50%;">{{ message }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if assessform.errors %}
                        {% for field in assessform %}
                            {% for error in field.errors %}
                                
                                    <p style="font-size:50%;">{{ field.label }}: {{ error|escape }}</p>
                            {% endfor %}
                        {% endfor %}

                       
                    {% endif %}

                    <!-- {% if pprform.errors %}
                        {% for field in pprform %}
                            {% for error in field.errors %}
                                {% if field.name == 'dateofbirth' %}
                                    <p style="font-size:50%;">Date of Birth is Mandatory and needs to be formatted as 01/01/1969</p>
                                {% else %}
                                    <p style="font-size:50%;">{{ field.name }}: {{ error|escape }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% for error in pdemform.non_field_errors %}
                            <p style="font-size:50%;">{{ error|escape }}</p>
                        {% endfor %}

                    {% endif %}


                    {% if pdemform.errors %}
                        {% for field in pdemform %}
                            {% for error in field.errors %}
                                <p style="font-size:50%;">{{ field.name }}: {{ error|escape }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in pdemform.non_field_errors %}
                            <p style="font-size:50%;">{{ error|escape }}</p>
                        {% endfor %}
                    {% endif %} -->
                </h1>

            </div>

    <form id="naccfrm" class="importForm" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

        <div class="row">
            <div class="col-lg-12 col-md-12">
                Converts a CSV data file exported from REDCap into the NACC's UDS3 fixed-width format.<br/>
                <small><B><I>NOTE: PID cannot exceed 10 characters.</I></B></small>
              <label>Convert Redcap CSV to following data packet:</label>
              <select name="filterby" class="form-control">
                <option value="">----</option>
                <option value="ivp">Initial Visit Packet (IVP) data</option>
                <option value="fvp">Follow-up Visit Packet (FVP) data</option>
                <option value="tfp">Telephone Followup Packet (TFP) v3.2 data</option>
                <option value="tfp3">TFP v3.0 (pre-2020) data</option>
                <option value="np">Neuropathology data</option>
                <option value="m">Milestone data</option>
                <option value="csf">NACC BIDSS CSF data</option>
                <option value="lbd">Lewy Body Dementia data (FORMVER = 3)</option>
                <option value="lbd -ivp">Lewy Body Dementia data (FORMVER = 3) with IVP</option>
                <option value="lbd -fvp">Lewy Body Dementia data (FORMVER = 3) with FVP</option>
                <option value="lbdsv">Lewy Body Dementia short version data (FORMVER = 3.1)</option>
                <option value="lbdsv -ivp">Lewy Body Dementia short version data (FORMVER = 3.1) with IVP</option>
                <option value="lbdsv -fvp">Lewy Body Dementia short version data (FORMVER = 3.1) with FVP</option>
                <option value="ftld">Frontotemporal Lobar Degeneration data</option>
                <option value="ftld -ivp">Frontotemporal Lobar Degeneration data with IVP</option>
                <option value="ftld -fvp">Frontotemporal Lobar Degeneration data with FVP</option>
              </select>
            </div>
        </div><div class="row">
            <div class="col-lg-12 col-md-12">
                <i>Click on options title for more detail:</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Replace Drug ID:</label>
            </div>
            <div class="col-md-2">
                <button class="popup1_open" title="Help on Replace Drug ID"><i class="icon-info-sign"></i> </button>
            </div>
            <section id="popup1">
                <h2>What does the Replace Drug ID do?</h2>
                <p>This filter replaces the first character of non empty fields of columns drugid_1 to drugid_50 with character "d".</p>
                <p><b>Example:</b> <br />
                    <b>drugid_1</b> = 1123231 before conversion <br />
                    <b>drugid_1</b> = d123231 After conversion
            </p>
            </section>
            <div class="col-md-6">
                <input type="radio" id="filterdrugidyes" name="filterdrugid" value="yes" checked>
                <label for="male">Yes</label> &nbsp;&nbsp;
                <input type="radio" id="filterdrugidno" name="filterdrugid" value="no">
                <label for="female">No</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Filter Fields:</label>
            </div>
            <div class="col-md-2">
                <button class="popup2_open" title="Help on Filter Fields"><i class="icon-info-sign"></i> </button>
            </div>
            <section id="popup2">
                <h2>What does the Filter Fields do?</h2>
                <p>This filter fixes spelling errors in REDCap fieldnames. For example, in your REDCap export, a field like “othneur” might be spelled “otherneur”, which causes errors with NACCulator. This filter ONLY updates the spelling of the csv column headers; it does not alter any data.</p>
                <p><b>Filter Format:</b>  <i>InputColumnName: FixedColumnName</i></p>
                <b><i>For example, the configuration would look like this:</i></b><br />
                <pre><code>
                    [filter_fix_headers]
                    c1s_2a_npsylan: c1s_2_npsycloc
                    c1s_2a_npsylanx: c1s_2a_npsylan
                    b6s_2a1_npsylanx: c1s_2a1_npsylanx
                    fu_otherneur: fu_othneur
                    fu_otherneurx: fu_othneurxs
                    fu_strokedec: fu_strokdec
                    fukid9agd: fu_kid9agd
                    fusib17pdx: fu_sib17pdx
                </code></pre>
                <p>You can use the default configuration or you can upload your own custom filter.txt file.</p>
                <p><a href="{{ MEDIA_URL }}filter.txt" download>(Click to Download Example Template for filter.txt)</a></p>
                <p><b><i>Note:</i></b> The filter file must be a simple text file and maintain the .txt extension.</p>
            </section>
            <div class="col-md-6">
                <!--<input type="radio" id="filtercsvyes" name="filtercsv" value="yes" checked>
                <label for="male">Yes</label> &nbsp;&nbsp;-->
                <input type="radio" id="filtercsvno" name="filtercsv" value="no" checked>
                <label for="female">No</label>
                <input type="radio" id="filtercsvno" name="filtercsv" value="custom">
                <label for="female">Custom</label>
            </div>
        </div>
        <div class="custom hiddenupload form-group">
            <label>Upload custom filter.txt file <a href="{{ MEDIA_URL }}filter.txt" download>(Click to Download Example)</a>:</label>
            <div class="form-row">
                    <div class="col-md-4">
                        <label class="browseBtn mr-0 ml-0 btn btn-dark btn-block round-3">
                            <input
                              type="file"
                              name="filterFile"
                              class="d-none filterFile"
                              accept=".txt"
                            />
                            Browse
                          </label>
                    </div>
                    <div class="col-md-8">
                        <span class="filterFileName form-control" title=""> Filter.TXT File </span>
                    </div>
            </div>
            <input type="hidden" name="filterfilepath" value="{{ filepath }}" id="filter_file_path">
        </div>

        <div class="form-group">
            <label>Choose file to convert to nacc:</label>
            <div class="form-row">
                    <div class="col-md-4">
                        <label class="browseBtn mr-0 ml-0 btn btn-dark btn-block round-3">
                            <input
                              type="file"
                              name="importFile"
                              class="d-none importFile"
                              accept=".csv"
                            />
                            Browse
                          </label>
                    </div>
                    <div class="col-md-8">
                        <span class="inputFileName form-control" title=""> Redcap Export File </span>
                    </div>
            </div>
        </div>
        <input type="hidden" name="filepath" value="{{ filepath }}" id="file_path">
        <input type="hidden" name="folderpath" value="{{ folderpath }}" id="folder_path">

        <div class="form-group">
                <input
                type="submit"
                name="submit"
                value="Convert"
                class="btn btn-success btn-lg btn-block round-3"
              />
        </div>
        
    </form>
<small>Conversion scripting created by integrating code from the NACCulator tool located at <a href="https://github.com/ctsit/nacculator" target="_blank">https://github.com/ctsit/nacculator</a> and sponsored by the <a href="https://1floridaadrc.org/" target="_blank">1Florida ADRC</a> and the <a href="https://www.nia.nih.gov/" target="_blank">National Institute on Aging</a>.</small>
<div class="container" style="display: flex; height: 50px;">
        <div style="width: 33%; height: 50px; text-align: : left; "> 
            <div style="text-align: left;"><a href="https://1floridaadrc.org/" target="_blank"><img src="{{ MEDIA_URL }}1Florida-ADRC-Logo_50.png" alt="1Florida ADRC" title="1Florida ADRC" /></a></div>
        </div>
        <div style="flex-grow: 1; text-align: : center;"> 
            <div style="text-align: center;"><a href="https://nvadrc.org/" target="_blank"><img src="{{ MEDIA_URL }}NVADRC_PRIMARYLogo_SM_72dpi-50.png" alt="Nevada ADRC - Alzheimer's Disease Research Center" title="Nevada ADRC - Alzheimer's Disease Research Center"/></a></div>
        </div>
        <div style="flex-grow: 2;"> 
            <div style="text-align: right;"><a href="https://www.nia.nih.gov/" target="_blank"><img src="{{ MEDIA_URL }}NIH-logo-50.png" alt="National Institutes of Health - National Institute on Aging" title="National Institutes of Health - National Institute on Aging"/></a></div>
        </div>
    </div>
 </div>
</div>
</div>


{% endblock %}
{% block page_js %}
    <script type="application/javascript" src="{% static 'js/import.js' %}"></script>

    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript">

    $(document).ready(function () {
        
      var folderpath = $('#folder_path').val();
      var filepath = $('#file_path').val();

      filepath = filepath.replaceAll(' ','')

      var url = window.location.href+'download/'+folderpath+'/'+filepath;

      if(folderpath!='' && filepath!='' ){             
        window.open(url,'_self');
        $('#folder_path').val('');
        
      }
    });

    </script>
    <script type="text/javascript">
        $(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $("input[name='filtercsv']:checked").attr("value");
        var targetBox = $("." + inputValue);
        $(".hiddenupload").not(targetBox).hide();
        $(targetBox).show();
    });
});
    </script>
    <script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>

{% endblock page_js %}
